
/*.container {border: 2px solid #000; position: relative; min-height: 250px; width: 250px; margin: 100px auto;}
.container.header{
  position: absolute; b
  order: 2px solid #000;
  background-color: #fff;
  width: 50%;
  text-align: center;
  left: 25%;
  top: -40px;
  background: #ccc;}*/

.beta-container {
    margin: -70px; /*NOT TOO SURE WHAT THIS DOES EXACTLY LOL BUT IT ADJUSTS SOMETHING FOR SURE*/
    /*background: linear-gradient(180deg, rgba(214, 67, 67, 0.3) 30.32%, rgba(128, 213, 211, 0) 100%);*/
    background: #EFEFEF
}

.beta-signup {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin: 60px;
    transform: translateY(130%); /*THIS VERTICALLY ADJUSTS THE WORD "SIGN UP FOR..." */
    color: #161515; /*color of "Sign up for early access"*/
}

.beta-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/ /*DONT THINK THIS IS NEEDED RN*/
    width: 390px; /*width of the email input box*/
    margin-left: 1000vw;
    transform: translate(125%,-20%); /*THIS VERTICALLY & HORIZONTALLY ADJUSTS THE EMAIL & SIGN UP" */
    margin: 130px;
}

.beta-input {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 49px;
    width: 40px;
    height: 95px;
    margin: auto;

}

.beta-signup-button {
    background: #76323F;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color:white;
    line-height: 55px;
    width: 300px;
    height: 60px;
    margin: auto;
}
