.features {
    position: relative;
    top: 110px;
}

.features-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #000000;
}

.features-container {
    display: flex;
    margin: 80px;
    height: 400px;/*height of the renters container box*/
}

.features-description-red {
    background: #CC4555;
    flex-direction: row;
    flex: 15;
    height: 400px;

}

.features-description-orange {
    background: #EB9A60;
    flex-direction: row;
    flex: 4;
    height: 300px;
}

.features-renters {  /*the landlords box*/
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.92);
    flex-direction: row;
    flex: 1;
    height: 300px;

}

.features-renters-title {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    color: #00DDDD;
    margin: auto;
}

.features-subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;

    color: #000000;
    margin: auto;
}

.features-subtext {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 50px;

    color: #FFFFFF;
    margin: auto;
}
