.video-video {
  margin-left: 50vw;
  transform: translate(-50%);
}

.video-title {

    font-family: Open Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    color: #000000;
}
